.container {
  padding-inline: $page-padding-mobile;

  @include on-tablet {
    padding-inline: $page-padding-tablet;
  }

  @include on-desktop {
    max-width: $max-content-width;
    margin: 0 auto;
    padding-inline: $page-padding-desktop;
  }
}
