.footer {
  padding-bottom: 20px;

  &__wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

    @include on-tablet {
      gap: 60px;
    }
  }

  &__button {
    position: absolute;
    top: 0;
    right: 0;
    display: none;

    @include effects;

    &:hover {
      transform: scale(1.02);
    }

    @include on-tablet {
      display: block;
    }
  }

  &__logo {
    display: none;

    @include on-tablet {
      display: block;
    }
  }

  &__socials {
    display: flex;
    gap: 40px;
  }

  &__info {
    text-align: center;
  }
}
