.header {
  position: relative;

  &__top-bar {
    margin-bottom: 285px;

    @include on-tablet {
      gap: 30px;
      margin-bottom: 100px;
      padding-block: 30px;
    }

    @include on-desktop {
      gap: 47px;
      margin-bottom: 60px;
    }
  }

  &__content {
    @include page-grid;

    margin-bottom: 110px;

    @include on-tablet {
      margin-bottom: 140px;
    }

    @include on-desktop {
      margin-bottom: 170px;
    }
  }

  &__bg {
    position: absolute;
    z-index: -1;
    top: 76px;
    right: 0;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 245px;

    @include on-tablet {
      position: static;

      grid-column: 4 / -1;
      grid-row: 1 / 3;
      align-self: flex-end;

      width: 100%;
      height: 317px;
    }

    @include on-desktop {
      grid-column: 5 / -1;
      height: 464px;
    }
  }

  &__img {
    max-width: none;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    margin-bottom: 20px;

    @include on-tablet {
      grid-column: 1 / 5;
      margin-bottom: 30px;
    }
  }

  &__text {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 4;
    }
  }
}
