.meet-luna {
  background-color: #f9f9f9;

  @include page-grid;

  &__bg {
    grid-column: 1 / -1;
    width: 100%;
    min-height: 195px;

    @include on-tablet {
      grid-column: 1 / -1;
      min-height: 430px;
      margin: 0;
    }

    @include on-desktop {
      grid-column: 3 / -3;
    }
  }
}
