.menu {
  &__wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;
    min-height: 100%;
    padding-bottom: 30px;

    @include on-tablet {
      justify-content: flex-start;
    }
  }

  &__buttons {
    display: flex;
    gap: 20px;

    @include on-tablet {
      display: none;
    }
  }

  &__specs {
    text-transform: uppercase;
  }

  &__button {
    @include on-tablet {
      display: none;
    }
  }

  &__top-bar {
    margin-bottom: 30px;
  }

  &__nav {
    margin-bottom: 50px;

    .nav__list {
      flex-direction: column;
      gap: 25px;
      align-items: flex-start;
    }
  }
}
