.nav {
  .nav__list {
    display: flex;
  }

  &__link {
    color: $accent-text-color;
    text-transform: uppercase;

    @include effects;

    &:hover {
      color: $dark-bnt-hover;
    }
  }
}
