.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 22px;

  &__logo {
    margin-right: 0;
  }

  &__buttons {
    display: none;

    margin-left: auto;

    font-size: 14px;
    font-weight: 300;
    color: $icons-color;
    text-transform: uppercase;

    @include on-tablet {
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__specs {
    @include effects;
    &:hover {
      color: $dark-bnt-hover;
    }
  }

  &__lang-change {
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: space-between;
  }
}
