$tablet-width: 640px;
$desktop-width: 1280px;
$max-content-width: 1440px;
$page-bc: #f7f7f7;
$accent-color: #0db2b3;
$accent-text-color: #333;
$main-text-color: #7c7c7c;
$icons-color: #4f4f4f;
$dark-btn-bc: #333;
$dark-bnt-hover: #131313;
$dark-btn-disable: #d0d0d0;
$light-btn-bc: #39bebf;
$light-btn-hover: #0c797a;
$light-bnt-disable: #cfeff0;
$no-active-color: #bdbdbd;
$page-padding-mobile: 30px;
$page-padding-tablet: 34px;
$page-padding-desktop: 123px;
$animation-duration: 0.3s;
